#venueInformation{
    display: inline-block;
}

#pageContent{
    display: inline-block;
    background-color: green;
}
#data{
    /*border: 1px solid black;
    background-color: red;*/
    height: 900px;
    width: 720px;
}

#floorPlan, #MaskDrawing{
    z-index: 50;
    position: absolute;
    left: 0;
    top: 0;
}
#floorPlan{
    border: 2px solid black;
    width: 100%;
}
#recOnTxt{
    position: relative;
}

.retuenColor{
z-index: 50;
}

.infoDiv{
    width: 300px;
    height: 180px;
    max-height: 350px;
    border-radius: 25px;
    border: 2px solid black;
    text-align: center;
    padding-top: 8px;
    background-color: rgb(235, 235, 235);
    z-index:99;
    position: absolute;
}
/*
#venueInformation{
    border: 2px solid black;
    background-color: rgb(235, 235, 235);
}*/

.venueImage{
    width: 50px;
    position: absolute;
}

.venueImageInfo{
    width: 75px;
}

.imgDiv{
    position: absolute;
    z-index:50;
}