<!DOCTYPE html>

<html>
    <head>
        <title>Info Page</title>
        <%- include('../partials/head') %>
        <script src="scripts\display.js"></script>
        <link rel="stylesheet" href="stylesheets\display.css">
       <link rel="canonical" href="https://www.patrick-wied.at/static/heatmapjs/" />
        <link rel="alternate" hreflang="en" href="https://www.patrick-wied.at/static/heatmapjs/" />
        <link rel="alternate" hreflang="de" href="https://www.patrick-wied.at/static/heatmapjs/de/" />
        
    </head>
    <body>

        <div id="pageContent">|
            <div id="data">
                <canvas id="MaskDrawing" width="720" height="900">
                </canvas>
                <img id="floorPlan" src="images\FloorPlans\Testing.png">
            </div>
            <h2 id="recOnTxt"></h2>
        </div>
    </body>
</html>