<!DOCTYPE html>

<html>
    <head>
        <title>Info Page</title>
        <%- include('../partials/head') %>
        <script src="scripts\display.js"></script>
        <link rel="stylesheet" href="stylesheets\display.css">
    </head>
    <body>

        <div id="data">

           <div id="venueInformation"></div>

            <div id="heatmap">                
            </div>

        </div>

    </body>
</html>